/Seccion_2_Fundamentos_Java/build/
/Seccion_2_Fundamentos_Java/nbproject/private/
/Seccion_5_Sentencias_Control/target/
/Seccion_5_Sentencias_Control/build/
/Seccion_5_Sentencias_Control/nbproject/private/
/Seccion_5_Sentencias_Control/dist/
/Seccion_6_Ciclos_Java/nbproject/private/
/Seccion_6_Ciclos_Java/build/
/Seccion_7_Creacion_Clases/Seccion_7/nbproject/private/
/Seccion_7_Creacion_Clases/Seccion_7/build/
